In [1]:
import pandas as pd

In [3]:
df=pd.read_parquet("~/code/team_repo/transform_path")
df

,rank,rankInten,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,load_dt
0,1,0,오펜하이머,2023-08-15,547413175,29.8,126781287,30.1,27470810915,50143,9609,23.7,2576028,1111,3240,20230901
1,2,0,타겟,2023-08-30,334912586,18.2,28974471,9.5,1125211901,33979,886,2.7,127283,923,3476,20230901
2,3,0,콘크리트 유토피아,2023-08-09,307880026,16.8,34994256,12.8,34062498388,31813,1918,6.4,3486670,963,2985,20230901
3,4,0,달짝지근해: 7510,2023-08-15,260153549,14.2,19708433,8.2,9737065985,26606,450,1.7,1000976,916,2678,20230901
4,5,0,밀수,2023-07-26,104352515,5.7,1498557,1.5,48607908784,10675,-573,-5.1,5032759,622,1097,20230901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,6,0,도티와 영원의 탑,2023-12-27,113512552,1.2,3649005,3.3,388161976,11972,311,2.7,41696,370,438,20231231
1216,7,0,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,111402091,1.2,10830582,10.8,2933239296,11396,930,8.9,321190,326,424,20231231
1217,8,0,괴물,2023-11-29,96150674,1.1,14102753,17.2,3791952275,9234,1465,18.9,387427,187,266,20231231
1218,9,0,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53802250,0.6,6104390,12.8,319879760,6404,642,11.1,38823,212,254,20231231
1219,10,0,류이치 사카모토: 오퍼스,2023-12-27,46921068,0.5,4548765,10.7,286201031,4660,401,9.4,31195,221,303,20231231

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1220 entries, 0 to 1219
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1220 non-null   int64
 1   rankInten    1220 non-null   object
 2   movieNm      1220 non-null   object
 3   openDt       1220 non-null   object
 4   salesAmt     1220 non-null   int64
 5   salesShare   1220 non-null   float64
 6   salesInten   1220 non-null   object
 7   salesChange  1220 non-null   object
 8   salesAcc     1220 non-null   int64
 9   audiCnt      1220 non-null   int64
 10  audiInten    1220 non-null   int64
 11  audiChange   1220 non-null   float64
 12  audiAcc      1220 non-null   int64
 13  scrnCnt      1220 non-null   int64
 14  showCnt      1220 non-null   int64
 15  load_dt      1220 non-null   category
dtypes: category(1), float64(2), int64(8), object(5)
memory usage: 147.8+ KB

In [149]:
df[df['load_dt']=='20230928'].sort_values('audiChange',ascending=False)

,rank,rankInten,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,load_dt
274,5,66,극장판 엉덩이 탐정: 미스터리 가면 ~최강의 대결,20230928,134035744,3.2,133945744,148828.6,169495744,14978,14963,99753.3,18923,575,969,20230928
279,10,11,80일간의 세계일주,20230927,27658950,0.7,24165350,691.7,36641550,3318,2896,686.3,4239,147,202,20230928
278,9,1,아르고 원정대: 꼬마 영웅 패티의 대모험,20230921,38573644,0.9,23848294,162.0,433564472,4099,2188,114.5,48830,171,192,20230928
277,8,0,오펜하이머,20230815,43851616,1.1,22995074,110.3,33918640842,4281,1752,69.3,3189315,77,95,20230928
276,7,0,가문의 영광: 리턴즈,20230921,49548318,1.2,24078496,94.5,1187803869,4927,1857,60.5,125674,240,311,20230928
271,2,0,1947 보스톤,20230927,871670929,21.1,389086100,80.6,1582822758,89204,28930,48.0,172059,1200,4981,20230928
270,1,0,천박사 퇴마 연구소: 설경의 비밀,20230927,1874529856,45.3,732426075,64.1,3245465144,190367,46166,32.0,356853,1422,7084,20230928
275,6,-1,잠,20230906,108545411,2.6,12000257,12.4,13210852440,12890,117,0.9,1387901,466,720,20230928
272,3,1,거미집,20230927,415915890,10.0,75445543,22.2,882413094,42428,-242,-0.6,97898,992,3486,20230928
273,4,-1,더 넌 2,20230927,357277751,8.6,-24665825,-6.5,761054327,33307,-11227,-25.2,79996,683,1897,20230928

In [111]:
df.describe()

,rank,salesAmt,salesShare,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt
count,1220.000000,1.220000e+03,1220.000000,1.220000e+03,1220.000000,1220.000000,1220.000000,1.220000e+03,1220.000000,1220.000000
mean,5.500000,2.839596e+08,9.072295,1.047783e+10,29041.882787,1039.859836,875.609754,1.096304e+06,531.611475,1454.720492
std,2.873459,7.157482e+08,14.594503,1.923150e+10,72221.019528,41730.222641,13292.733110,2.055891e+06,458.478133,1850.385071
min,1.000000,3.867500e+06,0.200000,8.680000e+06,526.000000,-462906.000000,-95.700000,1.240000e+03,4.000000,4.000000
25%,3.000000,3.341962e+07,1.400000,4.697928e+08,3473.750000,-2260.750000,-19.800000,4.846050e+04,180.750000,253.500000
50%,5.500000,7.193688e+07,3.400000,2.332750e+09,7357.500000,256.000000,6.000000,2.426860e+05,458.000000,716.000000
75%,8.000000,1.967106e+08,8.900000,1.202652e+10,20422.000000,2883.250000,55.825000,1.231542e+06,748.250000,1913.000000
max,10.000000,6.980194e+09,87.400000,1.153505e+11,700900.000000,376915.000000,379100.000000,1.376639e+07,2463.000000,9924.000000

In [154]:
print("flag0:",df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1220 entries, 0 to 1219
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1220 non-null   int64
 1   rankInten    1220 non-null   int64
 2   movieNm      1220 non-null   object
 3   openDt       1220 non-null   object
 4   salesAmt     1220 non-null   int64
 5   salesShare   1220 non-null   float64
 6   salesInten   1220 non-null   int64
 7   salesChange  1220 non-null   float64
 8   salesAcc     1220 non-null   int64
 9   audiCnt      1220 non-null   int64
 10  audiInten    1220 non-null   int64
 11  audiChange   1220 non-null   float64
 12  audiAcc      1220 non-null   int64
 13  scrnCnt      1220 non-null   int64
 14  showCnt      1220 non-null   int64
 15  load_dt      1220 non-null   object
dtypes: float64(3), int64(10), object(3)
memory usage: 152.6+ KB
flag0: None

In [156]:
 print(df['load_dt'].head(3))

0    20230901
1    20230901
2    20230901
Name: load_dt, dtype: object

In [173]:
dg=df.groupby('audiCnt').sum().sort_values('audiCnt',ascending=False)
df_unique_first = dg.drop_duplicates(subset='movieNm', keep='first')
df_unique_first

,rank,rankInten,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiInten,audiChange,audiAcc,scrnCnt,showCnt,load_dt
audiCnt,,,,,,,,,,,,,,,
700900,1,0,서울의 봄,20231122,6980193873,81.2,3826361808,121.3,37804061397,376915,116.3,3977785,2433,9924,20231202
611648,1,0,노량: 죽음의 바다,20231220,6266643783,43.2,1792139447,40.1,16739740652,170533,38.7,1681421,1902,7288,20231224
308934,1,0,천박사 퇴마 연구소: 설경의 비밀,20230927,3013748498,48.3,224104131,8.0,9048858009,30480,10.9,944241,1502,7701,20230930
255230,1,0,그대들은 어떻게 살 것인가,20231025,2082957643,71.4,2082957643,100.0,2082957643,255230,100.0,255230,1733,6768,20231025
173351,1,0,30일,20231003,1735314556,44.0,633977853,57.6,6115290021,63045,57.2,619882,1226,5137,20231008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069,10,5,매드 맥스: 분노의 도로,20150514,10416000,0.4,2385000,29.7,33883031962,241,29.1,3930024,44,183,20231128
1000,20,0,화란익스펜더블 4,2023101120231018,20000000,2.3,20000000,200.0,37488600,2000,200.0,3764,16,16,2023100520231016
836,10,5,리빙: 어떤 인생,20231213,7795239,0.4,-4911400,-38.7,74317357,-499,-37.4,7805,37,60,20231218
835,8,18,두 사람을 위한 식탁,20231025,6156500,0.5,2031900,49.3,39617256,355,74.0,5400,27,45,20231030
526,10,8,냉정과 열정사이,20031010,4060160,0.2,-2871440,-41.4,416434810,-249,-32.1,51851,53,89,20231211

In [189]:
grouped = df.groupby('movieNm').agg({
    'audiCnt': 'sum',
    'openDt': 'max',
    'load_dt' :'max'
}).reset_index()
grouped.sort_values('audiCnt',ascending=False)

for i in range(1,13):
    f_df =df[df['load_dt'].astype(str).str.contains(f'2023{i}')]
    f_s_df=filtered_df.sort_values('audiChange',ascending=False)
    f_s_df.head(2))

               movieNm   audiCnt    openDt   load_dt
64               서울의 봄  11850944  20231122  20231231
25          노량: 죽음의 바다   3435273  20231220  20231231
1                  30일   2147622  20231003  20231128
11      그대들은 어떻게 살 것인가   1987300  20231025  20231213
99  천박사 퇴마 연구소: 설경의 비밀   1905229  20230927  20231025
..                 ...       ...       ...       ...
79               안녕하세요      1266  20220525  20231205
49       매드 맥스: 분노의 도로      1069  20150514  20231128
42           리빙: 어떤 인생       836  20231213  20231218
37         두 사람을 위한 식탁       835  20231025  20231030
22            냉정과 열정사이       526  20031010  20231211

[121 rows x 4 columns]

In [146]:
col=['rankInten','salesInten','salesChange']
for i in col:
    df[i]=pd.to_numeric(df[i])
df['openDt'] = pd.to_datetime(df['openDt'])
df['openDt'] = df['openDt'].dt.strftime('%Y%m%d')
df['load_dt'] = df['load_dt'].astype(str)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1220 entries, 0 to 1219
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1220 non-null   int64
 1   rankInten    1220 non-null   int64
 2   movieNm      1220 non-null   object
 3   openDt       1220 non-null   object
 4   salesAmt     1220 non-null   int64
 5   salesShare   1220 non-null   float64
 6   salesInten   1220 non-null   int64
 7   salesChange  1220 non-null   float64
 8   salesAcc     1220 non-null   int64
 9   audiCnt      1220 non-null   int64
 10  audiInten    1220 non-null   int64
 11  audiChange   1220 non-null   float64
 12  audiAcc      1220 non-null   int64
 13  scrnCnt      1220 non-null   int64
 14  showCnt      1220 non-null   int64
 15  load_dt      1220 non-null   object
dtypes: float64(3), int64(10), object(3)
memory usage: 152.6+ KB

In [119]:
df

,rank,rankInten,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,load_dt
0,1,0,오펜하이머,20230815,547413175,29.8,126781287,30.1,27470810915,50143,9609,23.7,2576028,1111,3240,20230901
1,2,0,타겟,20230830,334912586,18.2,28974471,9.5,1125211901,33979,886,2.7,127283,923,3476,20230901
2,3,0,콘크리트 유토피아,20230809,307880026,16.8,34994256,12.8,34062498388,31813,1918,6.4,3486670,963,2985,20230901
3,4,0,달짝지근해: 7510,20230815,260153549,14.2,19708433,8.2,9737065985,26606,450,1.7,1000976,916,2678,20230901
4,5,0,밀수,20230726,104352515,5.7,1498557,1.5,48607908784,10675,-573,-5.1,5032759,622,1097,20230901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,6,0,도티와 영원의 탑,20231227,113512552,1.2,3649005,3.3,388161976,11972,311,2.7,41696,370,438,20231231
1216,7,0,뽀로로 극장판 슈퍼스타 대모험,20231213,111402091,1.2,10830582,10.8,2933239296,11396,930,8.9,321190,326,424,20231231
1217,8,0,괴물,20231129,96150674,1.1,14102753,17.2,3791952275,9234,1465,18.9,387427,187,266,20231231
1218,9,0,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",20231227,53802250,0.6,6104390,12.8,319879760,6404,642,11.1,38823,212,254,20231231
1219,10,0,류이치 사카모토: 오퍼스,20231227,46921068,0.5,4548765,10.7,286201031,4660,401,9.4,31195,221,303,20231231

In [80]:
df[df['audiChange'] >55].sort_values('load_dt', ascending =False)

,rank,rankInten,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,load_dt
1206,7,-1,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,100571509,1.4,35269813,54.0,2821837205,10466,3725,55.3,309794,329,426,20231230
1205,6,3,도티와 영원의 탑,2023-12-27,109863547,1.5,68176559,163.5,274649424,11661,7097,155.5,29724,361,430,20231230
1204,5,0,트롤: 밴드 투게더,2023-12-20,241856246,3.3,110628294,84.3,2819159300,25695,10902,73.7,305999,676,999,20231230
1202,3,1,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,543025530,7.5,244300847,81.8,4871021569,55938,24660,78.8,503279,829,1700,20231230
1201,2,0,서울의 봄,2023-11-22,2598989312,35.9,1062569598,69.2,112034605364,256589,100182,64.1,11528303,1645,5764,20231230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,2,0,타겟,2023-08-30,702799371,17.2,367886785,109.8,1828011272,70094,36115,106.3,197377,961,3572,20230902
16,7,-1,신체모음.zip,2023-08-30,83730400,2.1,31390900,60.0,229219100,8827,3330,60.6,25968,246,628,20230902
18,9,5,마야 3: 숲속 왕국의 위기,2023-08-24,37407100,0.9,33076600,763.8,258596800,4117,3574,658.2,30475,164,209,20230902
19,10,0,일주일간 친구,2023-09-06,45659900,1.1,45659900,100.0,45659900,3257,3257,100.0,3257,10,14,20230902
10,1,0,오펜하이머,2023-08-15,1196394973,29.3,648981798,118.6,28667205888,110383,60240,120.1,2686411,1150,3557,20230902

In [124]:
for i in range(9,12):
    f_df =df[df['load_dt'].astype(str).str.contains(f'2023{i}')]
    f_s_df=filtered_df.sort_values('audiChange',ascending=False)
    f_s_df.head(2))

Empty DataFrame
Columns: [rank, rankInten, movieNm, openDt, salesAmt, salesShare, salesInten, salesChange, salesAcc, audiCnt, audiInten, audiChange, audiAcc, scrnCnt, showCnt, load_dt]
Index: []
     rank  rankInten            movieNm    openDt    salesAmt  salesShare  \
416     7         70  에브리씽 에브리웨어 올 앳 원스  20221012    28545700         2.6
320     1         14                30일  20231003  1696710861        32.4

     salesInten  salesChange    salesAcc  audiCnt  audiInten  audiChange  \
416    28415700      21858.2  3920531529     2892       2879     22146.2
320  1676397503       8252.7  1894074984   171979     170247      9829.5

     audiAcc  scrnCnt  showCnt   load_dt
416   370187       48       75  20231012
320   192167     1034     3830  20231003
     rank  rankInten        movieNm    openDt    salesAmt  salesShare  \
895     6        119  명탐정코난: 흑철의 어영  20230720    42675000         1.1
820     1         27          서울의 봄  20231122  1884428072        73.1

     salesInten  salesChange    salesAcc  audiCnt  audiInten  audiChange  \
895    42647000     152310.7  7535590905     4603       4601    230050.0
820  1881728072      69693.6  2026664072   203813     203513     67837.7

     audiAcc  scrnCnt  showCnt   load_dt
895   786390       38      235  20231129
820   219445     2144     8392  20231122

In [135]:
df[df['load_dt']!=df['openDt']].sort_values('audiChange',ascending=False)

,rank,rankInten,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,load_dt
895,6,119,명탐정코난: 흑철의 어영,20230720,42675000,1.1,42647000,152310.7,7535590905,4603,4601,230050.0,786390,38,235,20231129
416,7,70,에브리씽 에브리웨어 올 앳 원스,20221012,28545700,2.6,28415700,21858.2,3920531529,2892,2879,22146.2,370187,48,75,20231012
697,8,67,극장판 아이돌리쉬 세븐; 라이브 4비트 비욘드 더 피리어드 - 데이 1,20231019,20167012,1.6,19979012,10627.1,104527808,2743,2721,12368.2,12348,40,40,20231109
1038,9,63,더 퍼스트 슬램덩크,20230104,65260500,2.3,64964883,21976.0,49943938710,4141,4107,12079.4,4780638,24,78,20231213
994,5,35,뽀로로 극장판 슈퍼스타 대모험,20231213,152983871,1.9,151852871,13426.4,167289871,15838,15667,9162.0,17918,436,738,20231209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,9,-3,엘리멘탈,20230614,18694623,1.8,-164790359,-89.8,70572763644,1858,-16365,-89.8,7181577,259,373,20230911
876,7,-4,스노우 폭스: 썰매개가 될 거야!,20231123,12758012,0.5,-133015157,-91.2,401040513,1595,-15130,-90.5,46296,204,215,20231127
1086,7,-5,뽀로로 극장판 슈퍼스타 대모험,20231213,33052651,1.7,-416335790,-92.6,1476220249,3991,-44809,-91.8,163682,437,612,20231218
1017,8,-1,프레디의 피자가게,20231115,8514395,0.3,-127072208,-93.7,6749160765,837,-12497,-93.7,691231,132,171,20231211
398,9,-6,퍼피 구조대: 더 마이티 무비,20231006,10657496,1.2,-260859261,-96.1,747914794,1267,-27870,-95.7,79503,227,241,20231010